* {
  font-family: 'Roboto';
  margin: 0;
}

.container {
  background-image: linear-gradient(to right, #fff, #cffcf1);
  height: 100vh;
  text-align: center;
  padding: 40px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.heading {
  color: #1e293b;
  margin: 60px 0;
}

.timer-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-position: center;
  background-size: cover;
  width: 55%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-text {
  background-color: #ffffff;
  height: 150px;
  width: 150px;
  padding-top: 50px;
  border-radius: 75px;
}

.timer {
  color: #00d9f5;
  font-weight: bold;
  font-size: 34px;
}

.timer-state {
  font-weight: bold;
  font-size: 20px;
}

.btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
}

button img {
  width: 30px;
}

button p {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
}

.start-reset-btn,
.timer-limit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

p {
  font-weight: bold;
  font-size: 14px;
}

.timer-limit {
  font-size: 20px;
  background-image: linear-gradient(to right, #cffcf1, #00d9f5);
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #defafe;
}

.limit-btn {
  font-size: 25px;
  font-weight: bold;
}
